h1 {
    text-align: center;
    color: white;
}

i {
    background-color: lightblue;
    color: white;
    padding: 10px;
}

#currentLocation {
    border: 1px solid lightgray;
}

#header {
    background-color: #303030;
    margin-bottom: 20px;
}

p {
    margin: 10px;
}