h1 {
    text-align: center;
    color: white;
}

button {
    width: 50px;
    background-color: #007bff;
    border: solid 1px #007bff;
    border-radius: 5px;
}

button:hover {
    background-color: grey;
    transition: ease-in .25s;
    border: solid 1px grey;
}

i {
    color: white;
    padding: 10px;
}

input {
    width: 75%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.forecast {
    background-color: #007bff;
    color: white;
    margin: 12px;
    height: 200px;
    border: solid 1px #007bff;
    border-radius: 5px;
}

.low {
    background-color: #289500;
}

.med {
    background-color: #f7e400;
}

.med-high {
    background-color: #f85900;

}

.high {
    background-color: #d80010;
}

.ultra {
    background-color: #6b49c8;
}

#currentLocation {
    border: 1px solid lightgray;
}

#header {
    background-color: #303030;
    margin-bottom: 20px;
}

p {
    margin: 10px;
}